table, td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-top: 125px;
  margin-bottom: 10px;
}

td {
  padding: 12px;
}

#matrix {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#diagonal {
  background-color: yellow;
  color: red;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#text-one{
  position: absolute;
  color: gray;
  height: 75px;
  width: 75vw;
  border: 1px solid gray;
  margin-top: 100px;
}
