body {
  color: green;
  padding:20px;
  margin: 0 auto;
}

table,
td 
{
  test -align: center;
  width:24px; 
  height: 24px;
  padding:12px;
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
  margin: 12px 0;
}

td {
  padding: 12px;
}

highlight {
  background-color: grey;
  box-shadow: 0;
}

